<h1>{{title}}</h1>

<collapsible-list [type]="'accordion'">

    <collapsible-list-item>
        <collapsible-header class="waves-effect">
            Item #1
        </collapsible-header>
        <collapsible-body [expanded]="false">
            <p>Item #1 Body</p>
        </collapsible-body>
    </collapsible-list-item>

    <collapsible-list-item>
        <collapsible-header class="waves-effect">
            Item #2
        </collapsible-header>
        <collapsible-body [expanded]="true">
            <p>Item #2 Body</p>
        </collapsible-body>
    </collapsible-list-item>

</collapsible-list>



<h1>{{title}}</h1>

<collapsible-table [type]="'expandable'" bordered>

    <thead>
        <collapsible-table-row>
            <th>Col #1</th>
            <th>Col #2</th>
            <th>Col #3</th>
        </collapsible-table-row>
    </thead>

    <tbody>
        <collapsible-table-row [detail]="detail1">
            <td>Cell(0,0)</td>
            <td>Cell(0,1)</td>
            <td>Cell(0,2)</td>
        </collapsible-table-row>
        <collapsible-table-row-detail #detail1>
            <table>
                <tr>
                    <td width="75%">Row #1 Detail #1</td>
                    <td>Row #1 Detail #2</td>
                </tr>
            </table>
        </collapsible-table-row-detail>

        <collapsible-table-row [detail]="detail2">
            <td>Cell(1,0)</td>
            <td>Cell(1,1)</td>
            <td>Cell(1,2)</td>
        </collapsible-table-row>
        <collapsible-table-row-detail #detail2>
            <p>Row #2 Detail</p>
        </collapsible-table-row-detail>

    </tbody>

</collapsible-table>